<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodadvisor.mapper.BusinessHoursMapper">

    <select id="selectByMerchantId" resultType="com.foodadvisor.entity.MerchantBusinessHours">
        SELECT * FROM merchant_business_hours 
        WHERE merchant_id = #{merchantId} 
        ORDER BY day_of_week ASC, open_time ASC NULLS LAST
    </select>

    <select id="selectByMerchantIds" resultType="com.foodadvisor.entity.MerchantBusinessHours">
        SELECT *
        FROM merchant_business_hours
        WHERE merchant_id IN
        <foreach collection="merchantIds" item="merchantId" open="(" separator="," close=")">
            #{merchantId}
        </foreach>
        ORDER BY merchant_id ASC, day_of_week ASC, open_time ASC NULLS LAST
    </select>

</mapper>
