# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=foodadvisor
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password


# OpenSearch
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200


# Backend
BACKEND_PORT=8080


# AI Service
AI_SERVICE_PORT=8000


# LLM
LLM_API_KEY=your_api_key
LLM_MODEL=your_model