# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/

.pytest_cache/
.coverage
htmlcov/


# =========================
# Environment
# =========================

.env
.env.*
!.env.example
*.env.local
*.local.yml
*.local.yaml
application-local.yml
application-local.yaml
application-*.local.yml
application-*.local.yaml


# =========================
# Node / Vue
# =========================

node_modules/
dist/
.vite/


# =========================
# Java / Spring Boot
# =========================

target/
*.class

.mvn/wrapper/maven-wrapper.jar


# =========================
# IDE
# =========================

.idea/
.vscode/

*.iml


# =========================
# Docker / Database
# =========================

postgres-data/
opensearch-data/
redis-data/

*.sql.backup


# =========================
# Logs
# =========================

*.log
logs/


# =========================
# Model / large local artifacts
# =========================
ai-service/app/local_models/
models/
model/
checkpoints/
*.pt
*.pth
*.onnx
*.safetensors
*.bin
*.gguf


# =========================
# OS files
# =========================

.DS_Store
Thumbs.db
Desktop.ini


# =========================
# Temporary files
# =========================

*.tmp
*.temp
*.swp

# Local uploaded files
backend/uploads/
train/datasets/sentiment_analysis_testa.csv
train/datasets/sentiment_analysis_trainingset.csv
train/datasets/sentiment_analysis_validationset.csv
train/datasets/datasets_temp/sentiment_analysis_testa.csv
train/datasets/datasets_temp/sentiment_analysis_trainingset.csv
train/datasets/datasets_temp/sentiment_analysis_validationset.csv
train/datasets/datasets_temp/processed/test_processed.csv
train/datasets/datasets_temp/processed/train_processed.csv
train/datasets/datasets_temp/processed/val_processed.csv
train/datasets/processed/test_processed.csv
train/datasets/processed/train_processed.csv
train/datasets/processed/val_processed.csv
